@media Screen and (max-width: 2560px) {
  body {
    background-image: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/8135136/600/400/m1/fpnw/wm0/prev-01-.jpg?1586871870&s=b7f50d6872e3cebfba5b31549d5f5e23);
    background-size: 2560px 1600px;
    background-repeat: no-repeat;
  }
}

@media Screen and  (max-width: 1920px) {
  body {
    background-image: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/8135136/600/400/m1/fpnw/wm0/prev-01-.jpg?1586871870&s=b7f50d6872e3cebfba5b31549d5f5e23);
    background-size: 1920px 1280px;
    background-repeat: no-repeat;
  }
}

.jumbotron {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: black;
  color: blue;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.win-message {
  display: none;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.submitButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#outcome11 {
  display: none;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#outcome2 {
  display: none;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#outcome3 {
  display: none;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.dataCell {
  height: 150px;
  width: 150px;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  border: white 3px;
  border-style: inset;
}

.dataCell:hover {
  background-color: rgba(250, 250, 250, 0.1);
}

.xGif {
  height: 135px;
  width: 135px;
  display: none;
}

.oGif {
  height: 135px;
  width: 135px;
  display: none;
}