@media Screen and (min-width: 400) and (max-width: 200) {

}

@media Screen and (min-width: 600) and (max-width: 6000) {

}

.jumbotron {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: black;
  color: blue;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.board-container {
  background-image: url('../jpg/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 200px;
  height: 200px;
  background-color: rgba(102, 102, 102, 0.226);
}

.cell:hover {
  background-color: rgba(102, 102, 102, 0.87);
}

.win-message {
  display: none;
}

.resetButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: left;
}

.resetButton:hover {background-color: maroon}

.resetButton:active {
  background-color: #8e3e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.submitButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float: right;
}

.submitButton:hover {background-color: navy}

.submitButton:active {
  background-color: #073d70;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {
  background-image: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/8135136/600/400/m1/fpnw/wm0/prev-01-.jpg?1586871870&s=b7f50d6872e3cebfba5b31549d5f5e23);
  background-size: 1500px 1500px;
  background-repeat: no-repeat;
}